# Settings

In [299]:
data_filepath = "PaintShop - September 2024.xlsx"
data_sheet_names_by_table_name = {
    "orders": "Orders", 
    "machines": "Machines", 
    "setups": "Setups"
}

# Data

In [300]:
import pandas as pd
import numpy as np

In [301]:
data = {table_name: pd.read_excel(data_filepath, sheet_name) for table_name, sheet_name in data_sheet_names_by_table_name.items()}

# We keep the soource data in a dictionary in order to prevent confusion about what tables are source and what are derived.
orders = pd.read_excel(data_filepath, sheet_name = "Orders")
machine_speeds = pd.read_excel(data_filepath, sheet_name = "Machines")
setups = pd.read_excel(data_filepath, sheet_name = "Setups")

In [302]:
data["orders"]

   Order  Surface  Colour  Deadline  Penalty
0     O1      150   Green        18       10
1     O2      200  Yellow        28       12
2     O3      180    Blue        12        8
3     O4      170    Blue        15       15
4     O5      130  Yellow        36        9
5     O6      160    Blue        33       11
6     O7      140   Green        35       14
7     O8      210  Yellow        38       13
8     O9      190    Blue        32        7
9    O10      120   Green        41       10
10   O11      230  Yellow        20       12
11   O12      220     Red        18        6
12   O13      110   Green        49       11
13   O14      250  Yellow        49       14
14   O15      240     Red        66        9
15   O16      160    Blue        63        8
16   O17      140  Yellow        85       13
17   O18      210     Red        78       10
18   O19      200    Blue        76       15
19   O20      150  Yellow        70       11
20   O21      170     Red        69        7
21   O22      130   Green        86       10
22   O23      180    Blue       100        9
23   O24      190     Red       115       12
24   O25      210   Green        53       14
25   O26      220  Yellow        81       11
26   O27      120    Blue        78        8
27   O28      230   Green        82        6
28   O29      110  Yellow       110        9
29   O30      240     Red       118       13

In [303]:
data["machines"].head()

  Machine  Speed
0      M1     20
1      M2     25
2      M3     18

In [304]:
data["setups"]

   From colour To colour  Setup time
0        Green       Red           6
1       Yellow     Green           2
2        Green    Yellow           5
3       Yellow       Red           1
4          Red    Yellow           8
5          Red     Green           5
6         Blue       Red           8
7         Blue    Yellow          10
8         Blue     Green           4
9        Green      Blue           3
10      Yellow      Blue          11
11         Red      Blue           4

### Prepare data

In [305]:
machine_speeds = {
    id: speed 
    for id, speed 
    in zip(data["machines"].index, data["machines"]["Speed"])
}
machine_speeds

{0: 20, 1: 25, 2: 18}

In [306]:
# Encode color names for efficiency, set ID as index
unique_colors = data["setups"]["From colour"].unique()
color_names_by_index = pd.DataFrame({
    "name": [c_name for c_name in unique_colors]
}, index = range(len(unique_colors)))
color_names_by_index

     name
0   Green
1  Yellow
2     Red
3    Blue

In [307]:
# Encode color names in setups
setups = pd.DataFrame({
    "c1":   data["setups"]["From colour"].apply(lambda from_color: color_names_by_index[color_names_by_index["name"] == from_color].index[0]),
    "c2":   data["setups"]["To colour"  ].apply(lambda to_color:   color_names_by_index[color_names_by_index["name"] == to_color  ].index[0]),
    "time": data["setups"]["Setup time" ]
})
setups

    c1  c2  time
0    0   2     6
1    1   0     2
2    0   1     5
3    1   2     1
4    2   1     8
5    2   0     5
6    3   2     8
7    3   1    10
8    3   0     4
9    0   3     3
10   1   3    11
11   2   3     4

In [308]:
# Fix orders table: encode colors and set order index as index
orders = pd.DataFrame(
    {
        "surface": data["orders"]["Surface"].values,
        "color": [color_names_by_index[color_names_by_index["name"] == c].index[0] for c in data["orders"]["Colour"]],
        "deadline": data["orders"]["Deadline"].values,
        "penalty": data["orders"]["Penalty"].values,
    },
    index = data["orders"].index
)
orders

    surface  color  deadline  penalty
0       150      0        18       10
1       200      1        28       12
2       180      3        12        8
3       170      3        15       15
4       130      1        36        9
5       160      3        33       11
6       140      0        35       14
7       210      1        38       13
8       190      3        32        7
9       120      0        41       10
10      230      1        20       12
11      220      2        18        6
12      110      0        49       11
13      250      1        49       14
14      240      2        66        9
15      160      3        63        8
16      140      1        85       13
17      210      2        78       10
18      200      3        76       15
19      150      1        70       11
20      170      2        69        7
21      130      0        86       10
22      180      3       100        9
23      190      2       115       12
24      210      0        53       14
25      220      1        81       11
26      120      3        78        8
27      230      0        82        6
28      110      1       110        9
29      240      2       118       13

In [309]:
def first_or_0(list):
    if len(list) == 0:
        return 0
    return list[0] 

# Create table of order-to-order setup times.
setup_times = pd.DataFrame({ 
    order1_id: pd.Series([
        0 if (order1_id == order2_id) else
        first_or_0(setups.loc[
            (setups["c1"] == orders.loc[order1_id, "color"]) &
            (setups["c2"] == orders.loc[order2_id, "color"]),
            "time"
        ].values) for order2_id in orders.index.values
    ], dtype="Int64") for order1_id in orders.index.values 
}).transpose()

# Display table
setup_times

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
1,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
2,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
3,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
4,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
5,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
6,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
7,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
8,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
9,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
10,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
11,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0
12,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
13,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
14,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0
15,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
16,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
17,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0
18,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
19,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
20,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0
21,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
22,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
23,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0
24,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
25,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
26,4,10,0,0,10,0,4,10,0,4,...,8,4,0,8,4,10,0,4,10,8
27,0,5,3,3,5,3,0,5,3,0,...,6,0,3,6,0,5,3,0,5,6
28,2,0,11,11,0,11,2,0,11,2,...,1,2,11,1,2,0,11,2,0,1
29,5,8,4,4,8,4,5,8,4,5,...,0,5,4,0,5,8,4,5,8,0

In [310]:
process_times = pd.DataFrame({
    machine_id: [
        order_surface / machine_speed for order_surface in orders["surface"].values
    ] for machine_id, machine_speed in machine_speeds.items()
})
process_times

       0     1          2
0    7.5   6.0   8.333333
1   10.0   8.0  11.111111
2    9.0   7.2  10.000000
3    8.5   6.8   9.444444
4    6.5   5.2   7.222222
5    8.0   6.4   8.888889
6    7.0   5.6   7.777778
7   10.5   8.4  11.666667
8    9.5   7.6  10.555556
9    6.0   4.8   6.666667
10  11.5   9.2  12.777778
11  11.0   8.8  12.222222
12   5.5   4.4   6.111111
13  12.5  10.0  13.888889
14  12.0   9.6  13.333333
15   8.0   6.4   8.888889
16   7.0   5.6   7.777778
17  10.5   8.4  11.666667
18  10.0   8.0  11.111111
19   7.5   6.0   8.333333
20   8.5   6.8   9.444444
21   6.5   5.2   7.222222
22   9.0   7.2  10.000000
23   9.5   7.6  10.555556
24  10.5   8.4  11.666667
25  11.0   8.8  12.222222
26   6.0   4.8   6.666667
27  11.5   9.2  12.777778
28   5.5   4.4   6.111111
29  12.0   9.6  13.333333

### Functions

### Classes

In [311]:
class Schedule:
    """A class representing a solution to the paintshop-problem. This is essentially a wrapper for it's internal dict[int, list[int]] object (.order_queue) with some usefull functions.
    """
    
    
    # Constructor. Example call: "Solution()".
    def __init__(self):
        """Constructs an empty solution.
        """
        self.order_queue = {
            i: [] for i in machine_speeds.keys()
        }
    
    # Index getter. Example call: "Solution()[i]".
    def __getitem__(self, machine_id: int) -> list[int]:
        """Gets the queue for the machine with the specified machine-number

        Args:
            machine_id (int): The index of the machine.

        Returns:
            list[int]: The queue for the specified machine.
        """
        return self.order_queue[machine_id]
    
    # Index setter. Example call: "Solution()[i] += [1]"
    def __setitem__(self, machine_id: int, queue: list[int]):
        """Sets the queue for the machine with the specified machine-number

        Args:
            machine_id (int): The index of the machine.
            queue (list[int]): The queue for the specified machine.
        """
        self.order_queue[machine_id] = queue
    
    # String conversion. Example call: "print(Schedule())" or "str(Schedule())"
    def __str__(self) -> str:
        
        return '\n'.join([
            f"M{machine_id + 1}: {self.order_queue[machine_id]} ({self.get_cost_machine(machine_id):.2f})" for machine_id in machine_speeds.keys()
        ])
    
    # Returns the solution in pandas.DataFrame form
    def to_dataframe(self) -> pd.DataFrame:
        """Returns the Solution converted to a pandas.DataFrame.

        Returns:
            pd.DataFrame: The Solution in dataframe form.
        """
        
        return pd.DataFrame.from_dict(
            self.order_queue,
        ).rename(columns ={
            machine_id: f"M{machine_id + 1}" 
            for machine_id in machine_speeds.keys()
        })
        
    # Return the time at which the machine with the specified ID finishes it's order queue
    def get_finish_time(self, machine_id: int) -> float:
        
        # Processing time when starting on the current order
        t = 0
        last_order_id = None
        
        # Iterate over orders in queue
        for order_id in self.order_queue[machine_id]:
            
            # Add processing time to current time
            t += process_times.loc[order_id, machine_id]
            
            # Add setup time
            if (last_order_id != None):
                t += setup_times.loc[last_order_id, order_id]
            
            # Update last order ID
            last_order_id = order_id
            
        return t
    
    def get_cost_machine(self, machine_id):
        # Processing time when starting on the current order
        t = 0
        last_order_id = None
            
        # Initialize penalty
        total_penalty = 0
            
        # Iterate over orders in queue
        for order_id in self.order_queue[machine_id]:
            
            # Add processing time to current time
            t += process_times.loc[order_id, machine_id]
            
            # Add setup time
            if (last_order_id != None):
                t += setup_times.loc[last_order_id, order_id]
            
            # Add penalty to total_cost
            if (t > orders.loc[order_id, 'deadline']):
                total_penalty += orders.loc[order_id, 'penalty'] * (t - orders.loc[order_id, 'deadline'])
            
            # Update last order ID
            last_order_id = order_id
        
        return total_penalty
    
    # Returns the total cost of the solution
    def get_cost(self) -> float:
        """Returns the total penalty for this schedule.

        Returns:
            float: The total penalty
        """
        
        # Initialize penalty
        total_penalty = 0
        
        # Iterate over machines in schedule
        for machine_id in self.order_queue.keys():
            
            total_penalty += self.get_cost_machine(machine_id)
        
        # Return total penalty
        return total_penalty

# Solution

In [312]:
def heuristic_constructive_simple() -> Schedule:
    """Constructs a solution according to the following heuristic:
    1. Create an empty solution. (Empty lists (representing order-numbers) by machine-numbers in a dictionary)
    2. Assign the order with the lowest order-number to the machine with the lowest amount of assigned orders, adding it to the end to the order-queue for that machine. The tiebreaking rule is that the machine with the lowest machine-number gets the order.
    3. Go to step 2 unless all orders are assigned.
    
    Returns:
        dict[int, list[int]]: The constructed solution. 
    """
    
    
    # Construct an empty solution dictionary.
    schedule = Schedule()
    
    # For each order (ordered by order-number ascending).
    for order_id in orders.index.values:
        
        # Determine machine index with the shortest queue (adding a machine's index (scaled to a fraction) works like the tiebreaking rule).
        machine_id_next = sorted(
            machine_speeds.keys(), 
            key = lambda i:
                len(schedule[i]) +
                i / len(machine_speeds)
        )[0]
        
        # Add order to machine queue.
        schedule[machine_id_next] += [order_id]
        
    return schedule

In [313]:
def heuristic_constructive_simple_2() -> Schedule:
    """Constructs a solution according to the following heuristic:
    1. Create an empty solution. (Empty lists (representing order-numbers) by machine-numbers in a dictionary)
    2. Assign the order with the lowest order-number to the machine with the lowest amount of assigned orders, adding it to the end to the order-queue for that machine. The tiebreaking rule is that the machine with the lowest machine-number gets the order.
    3. Go to step 2 unless all orders are assigned.
    
    Returns:
        dict[int, list[int]]: The constructed solution. 
    """
    
    
    # Construct an empty solution dictionary.
    schedule = Schedule()
    
    # For each order (ordered by order-number ascending).
    for order_id in orders.index.values:
        
        # Determine machine index with the shortest queue (adding a machine's index (scaled to a fraction) works like the tiebreaking rule).
        machine_id_next = sorted(
            machine_speeds.keys(), 
            key = lambda i:
                schedule.get_finish_time(i) + 
                i / len(machine_speeds), 
        )[0]
        
        # Add order to machine queue.
        schedule[machine_id_next] += [order_id]
        
    return schedule

In [314]:
def heuristic_constructive_simple_3() -> Schedule:
    """Constructs a solution according to the following heuristic:
    1. Create an empty solution. (Empty lists (representing order-numbers) by machine-numbers in a dictionary)
    2. Assign the order with the lowest order-number to the machine with the lowest amount of assigned orders, adding it to the end to the order-queue for that machine. The tiebreaking rule is that the machine with the lowest machine-number gets the order.
    3. Go to step 2 unless all orders are assigned.
    
    Returns:
        dict[int, list[int]]: The constructed solution. 
    """
    
    
    # Construct an empty solution dictionary.
    schedule = Schedule()
    
    # For each order (ordered by order-number ascending).
    for order_id in sorted(orders.index.values, key = lambda order_id: orders.loc[order_id, 'deadline']):
        
        # Determine machine index with the shortest queue (adding a machine's index (scaled to a fraction) works like the tiebreaking rule).
        machine_id_next = sorted(
            machine_speeds.keys(), 
            key = lambda i:
                schedule.get_finish_time(i) + 
                i / len(machine_speeds), 
        )[0]
        
        # Add order to machine queue.
        schedule[machine_id_next] += [order_id]
        
    return schedule

In [317]:
print('\n\n'.join([
    f"{heuristic}: \t{schedule.get_cost():.2f}\n{schedule}" for heuristic, schedule in {
        "constructive_simple": heuristic_constructive_simple(),
        "constructive_simple_2": heuristic_constructive_simple_2(),
        "constructive_simple_3": heuristic_constructive_simple_3()
    }.items()
]))

constructive_simple: 	1414.11
M1: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27] (565.00)
M2: [1, 4, 7, 10, 13, 16, 19, 22, 25, 28] (222.00)
M3: [2, 5, 8, 11, 14, 17, 20, 23, 26, 29] (627.11)

constructive_simple_2: 	2815.77
M1: [0, 3, 7, 12, 14, 17, 20, 22, 25, 29] (760.50)
M2: [1, 4, 6, 9, 10, 13, 15, 19, 21, 24, 26, 28] (1440.60)
M3: [2, 5, 8, 11, 16, 18, 23, 27] (614.67)

constructive_simple_3: 	4181.39
M1: [2, 10, 6, 7, 13, 19, 18, 16, 28, 23] (1632.50)
M2: [3, 11, 8, 4, 12, 15, 14, 26, 25, 21, 29] (1445.00)
M3: [0, 1, 5, 9, 24, 20, 17, 27, 22] (1103.89)