In [3]:
data_filepath = "PaintShop - September 2024.xlsx"
data_sheet_names_by_table_name = {
    "orders": "Orders", 
    "machines": "Machines", 
    "setups": "Setups"
}

In [4]:
import pandas as pd
data = {table_name: pd.read_excel(data_filepath, sheet_name) for table_name, sheet_name in data_sheet_names_by_table_name.items()}

orders = pd.read_excel(data_filepath, sheet_name = "Orders")
machines = pd.read_excel(data_filepath, sheet_name = "Machines")
setups = pd.read_excel(data_filepath, sheet_name = "Setups")

In [38]:
data['setups']

   From colour To colour  Setup time
0        Green       Red           6
1       Yellow     Green           2
2        Green    Yellow           5
3       Yellow       Red           1
4          Red    Yellow           8
5          Red     Green           5
6         Blue       Red           8
7         Blue    Yellow          10
8         Blue     Green           4
9        Green      Blue           3
10      Yellow      Blue          11
11         Red      Blue           4

In [59]:
# Encode color names for efficiency, set ID as index
unique_colors = data["setups"]["From colour"].unique()
color_names_by_index = pd.DataFrame({
    "name": [c_name for c_name in unique_colors]
}, index = range(len(unique_colors)))
color_names_by_index

     name
0   Green
1  Yellow
2     Red
3    Blue

In [111]:
# Transpose setups table, encode colors and set color ID to index
setups = pd.DataFrame({ 
    #
    color_names_by_index[color_names_by_index["name"] == c1].index[0]: [
        data["setups"][
            #the indexing via boolean series
            (data["setups"]["To colour"] == c1) & (data["setups"]["From colour"] == c2)
            #get the value of the index
        ]["Setup time"].values[0] 
        #filter so that if the two colors are the same the time equals zero
        if c1 != c2 else 0 
        #define c1 and c2 via for loop
        for c2 in color_names_by_index["name"]
    ]   for c1 in color_names_by_index["name"] }, index = color_names_by_index.index)
#display final product
setups

   0   1  2   3
0  0   5  6   3
1  2   0  1  11
2  5   8  0   4
3  4  10  8   0

In [23]:
 print ([item if item >= 3 else 0 for item in [1,2,3,4,5]])

[0, 0, 3, 4, 5]

In [119]:
lst = []
names = []
for c1 in color_names_by_index['name']:
    lst2=[]
    names.append(c1)
    for c2 in color_names_by_index['name']:
        if c1 != c2:
            lst2.append(data["setups"][(data["setups"]["To colour"] == c1) & (data["setups"]["From colour"] == c2)]["Setup time"].values[0] )
        else:
            lst2.append(0)
        lst
    lst.append(lst2)
lst = pd.Series(lst)
trail=pd.DataFrame({
    i : lst[i] for i in range(4)
})
trail

   0   1  2   3
0  0   5  6   3
1  2   0  1  11
2  5   8  0   4
3  4  10  8   0

In [26]:
data['setups'][(data["setups"]["To colour"] == 'Green') & (data["setups"]["From colour"] == 'Blue')]['Setup time']

8    4
Name: Setup time, dtype: int64

In [28]:
data['setups'][(data["setups"]["To colour"] == 'Green')]['Setup time']

1    2
5    5
8    4
Name: Setup time, dtype: int64

In [109]:
print([item for item in lst])

[[0, 2, 5, 4], [5, 0, 8, 10], [6, 1, 0, 8], [3, 11, 4, 0]]