In [1]:
data_filepath = "PaintShop - September 2024.xlsx"
data_sheet_names_by_table_name = {
    "orders": "Orders", 
    "machines": "Machines", 
    "setups": "Setups"
}

In [2]:
import pandas as pd
data = {table_name: pd.read_excel(data_filepath, sheet_name) for table_name, sheet_name in data_sheet_names_by_table_name.items()}

orders = pd.read_excel(data_filepath, sheet_name = "Orders")
machines = pd.read_excel(data_filepath, sheet_name = "Machines")
setups = pd.read_excel(data_filepath, sheet_name = "Setups")

In [5]:
data['machines']

  Machine  Speed
0      M1     20
1      M2     25
2      M3     18

In [6]:
# Encode color names for efficiency, set ID as index
unique_colors = data["setups"]["From colour"].unique()
color_names_by_index = pd.DataFrame({
    "name": [c_name for c_name in unique_colors]
}, index = range(len(unique_colors)))
color_names_by_index

     name
0   Green
1  Yellow
2     Red
3    Blue

In [22]:
# Transpose setups table, encode colors and set color ID to index
setups = pd.DataFrame({ 
    color_names_by_index[color_names_by_index["name"] == c1].index[0]: [
        data["setups"][
            (data["setups"]["To colour"] == c1) & (data["setups"]["From colour"] == c2)
        ]["Setup time"].values[0] if c1 != c2 else 0 for c2 in color_names_by_index["name"]
    ] for c1 in color_names_by_index["name"] }, index = color_names_by_index.index)
setups

   0   1  2   3
0  0   5  6   3
1  2   0  1  11
2  5   8  0   4
3  4  10  8   0

In [86]:
 print ([item for item in [1,2,3,4,5] if item >= 3 else 0])

SyntaxError: invalid syntax (4049994959.py, line 1)

In [66]:
data['setups'][(data["setups"]["To colour"] == 'Green') & (data["setups"]["From colour"] == 'Blue')]['Setup time'].values[0]

4

In [70]:
data['setups'][(data["setups"]["To colour"] == 'Green')]['Setup time'].values[2]

4